h1{
  color: white;
}

h2{
  color: white;
  text-align: center;
}

input{
  color: white;
}

input[type="password"]{
  
  color: black;}

p{
  color: white;
}

button{
  color: black;
  text-decoration: none;
  
}

button:hover{
background-color: rgb(65, 94, 84);
}

body{
  background-color: black;
}